* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: #f4f4f4;
  font-family: monospace;
  margin: 10px;
}

.container,
.newProductContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  opacity: 1;
}

.navbar {
  margin: 0px;
  padding: 0px;
  background-color: #000000;
}

.ulNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

.navbarLi {
  float: right;
}

.navbarLi a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbarLi a:hover {
  background-color: #303030;
  color: #dc143c;
}

#navName {
  color: #dc143cda;
  float: left;
  margin: 0px;
  padding-left: 4%;
  padding-right: 30%;
}

.navStart {
  width: 100%;
}

.advertising {
  width: 60%;
  height: auto;
  margin: 1% 20%;
  border-radius: 15px;
}

.loginBox,
#loginForm,
#regForm,
.newProductBox,
#newProductForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#regForm,
#loginForm,
#newProductForm {
  gap: 10px;
  padding: 30px;
  box-shadow: 2px 10px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgb(255, 246, 237);
}

#blackBox {
  height: 400px;
  background-color: #181818;
}

#backgroundImg {
  width: 100%;
  height: auto;
  position: relative;
}

.styleContainer {
  height: 1100px;
  background-color: rgb(23, 23, 23);
  background-image: url(https://img.freepik.com/free-photo/crop-plate-with-salad_23-2147753678.jpg?t=st=1710260237~exp=1710263837~hmac=b1edcab1cb720582757028a3bfe77c24e4a578fa574bcde9ba7a51daa26cd122&w=1380);
  background-size: cover;
  margin: -1% 0;
}

.backgroundHome {
  background-image: url(https://fons.pibig.info/uploads/posts/2023-05/thumbs/1685509518_fons-pibig-info-p-yeda-na-temnom-fone-pinterest-42.jpg);
  background-size: cover;
  height: 1300px;
}

.backgroundHomeMenu {
  /* background-image: url(https://img.freepik.com/free-photo/brown-wooden-textured-flooring-background_53876-101851.jpg?t=st=1710315735~exp=1710319335~hmac=871064d247aa218a013a32b0de098bea5eca99a83ddcd0be117fb21cefc9242b&w=1380); */
  /* background-size: cover; */
  background-color: rgb(19, 12, 12);
  height: 3800px;
}

.description {
  font-size: large;
  color: rgb(0, 0, 0);
}

.centerList {
  width: 60%;
  height: auto;
  margin: auto;
  background-color: rgb(255, 238, 218);
  padding: 2%;
  border-radius: 15px;
  opacity: 0.6;
}

.centerListMenu {
  width: 85%;
  height: auto;
  margin: auto;
}

#bigRedText {
  color: #e30b36;
  font-weight: 700;
}

.regFormHeader {
  color: #dc143cda;
  text-align: center;
}

.formSelect {
  width: 100%;
  font-size: 18px;
  color: #6c6c6c;
  margin-top: 6%;
}

.logBtn,
.regBtn {
  margin-top: 7%;
}

.newProductSubmitBtn {
  background-color: brown;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.regMsg,
.logMsg {
  margin-top: 20px;
}

.form-control {
  min-width: 300px;
  height: 40px;
  border: 0.5px lightgrey solid;
  box-shadow: 2px 2px 10px 1px rgba(134, 134, 134, 0.5);
  padding: 5px;
}

.userName {
  font-weight: bold;
  color: rgb(95, 71, 11);
}

.form-input {
  min-width: 400px;
}

.catalogCards {
  float: left;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
  /* background-color: rgb(38, 16, 3); */
}
.card {
  margin: 2%;
  opacity: 0.9;
}

#priceInProduct {
  text-decoration: line-through;
  color: #dc143c;
}

#styleForCardCabinet {
  width: 18rem;
}

#marginDiv {
  margin: 1%;
}

#marginH {
  margin-left: 1%;
}

#helloClient {
  color: #dc143c;
  text-align: center;
}

#map {
  /* width: 60%; */
  /* height: auto; */
  text-align: center;
  /* float: unset; */
  /* margin-top: 2%; */
  padding-top: 2%;
  margin: auto;
  border-radius: 15px;
  /* width: 900px; */
  width: 70%;
  height: 500px;
  /* margin: 2%; */
}
